@model IEnumerable<ClientListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Client_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Client_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Client_id })
            </td>
        </tr>
}
    </tbody>
</table>
